@charset "utf-8";

@font-face {
    font-family: 'Paytone One';
    src: url(../fonts/PaytoneOne-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Asap Regular';
    src: url(../fonts/AsapCondensed-Regular.ttf) format('truetype');
}

/* CSS Document */

* {
    font-family: 'Paytone One';
    margin: 0;
    padding: 0;
}

*::selection{
    background-color: #22de225b;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
    color: #fff;
    text-decoration: none;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow-x: hidden;
    background-color: #000000;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    width: 100vw;
    position: relative;
    background: url(../img/geral/Background.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow-x: hidden;
}

.green {
    color: #22DE22;
}

.gray {
    color: #ffffffba;
}

.font-asap {
    font-family: 'Asap Regular';
}

.red{
    color: #ff0000;
}

.logo-name {
    display: flex;
    align-items: center;
}

.section-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2em;
    width: 90%;
    position: absolute;
    top: 0;
}

.section-2 {
    display: flex;
    justify-content: space-around;
    gap: 4em;
    align-items: center;
    width: 90%;
    margin: 0 2em;
}

.section-3 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2em;
    width: 90%;
    gap: 3em;
}

.img-main {
    max-height: 40em;
}

.sec-3-item-img {
    max-height: 15em;
}

.section-3-itens {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    width: 100%;
}

.title-main-sec-3 {
    text-align: center;
    font-size: 2.5em;
}

.section-3-item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.section-3-item h1,
p {
    text-align: center;
}

/*  */
#tabela-cripto {
    width: 90vw;
    border-collapse: collapse;
    text-align: left;
}

.someall{
    display: none;
}

.loading{
   background-color: #00000000;
}

.table-header {
    border-bottom: 1px solid #22DE22;
}

td {
    color: #fff;
    padding: 1em;
    font-size: 1em;
    font-family: 'Asap Regular';
}

.cripto-logo {
    height: 0.5em;
}

th {
    color: #fff;
    padding: 1em;
    font-size: 1em;
    font-family: 'Asap Regular';
}

/*  */
.title-main {
    max-width: 30%;
    font-size: 3em;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    background: url(../img/geral/Background.webp);
    background-position: center;
    background-repeat: repeat;
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
}

.logo-icon {
    max-height: 3em;
}

.logo-text {
    display: flex;
    gap: 0.5em;
}

.logo-text:hover {
    cursor: pointer;
}

#vizualizar {
    margin-top: 2em;
    display: block;
    background-color: #22DE22;
    border: none;
    padding: 0.5em 1em;
    border-radius: 0.5em;
    font-size: 0.5em;
    color: #ffffff;
    transition: background-color 0.1s ease-in-out, box-shadow 0.05s ease-in-out, transform 0.05s ease-in-out;
    box-shadow: 2px 5px 1px #237E23;
}

#vizualizar:hover {
    cursor: pointer;
    background-color: #22de22c6;
}

#vizualizar:active {
    box-shadow: none;
    transform: translateY(0.2em);
}

.menu {
    display: flex;
    gap: 2em;
}

.menu-item {
    transition: transform 0.3s ease-in-out;
}

#menu-button {
    display: none;
}

.menu-item:hover {
    cursor: pointer;
    transform: scale(1.05);
}

#section-1-phone {
    display: none;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    background-color: #000000;
    margin-top: 5em;
}

.footer-social {
    display: flex;
    padding: 1em;
    gap: 0.5em;
}

.inscreva-se{
    margin: 1em 0;
}

#email {
    background-color: #00000000;
    padding: 0.2em 1em;
    width: 15em;
    border: 1px solid #22DE22;
    margin-right: 2em;
    color: #fff;
}

#email:focus {
    outline: none;
    color: #fff;
    font-family: 'Asap Regular';
}

#submit-email{
    border: 1px solid #22DE22;
    background-color: #00000000;
    padding: 0.2em 1em;
    color: #fff;
    transition: background-color 0.1s ease-in-out, box-shadow 0.05s ease-in-out, transform 0.05s ease-in-out;
}

#submit-email:hover{
    cursor: pointer;
    background-color: #22de22c6;
}

.socical {
    height: 1.2em;
    transition: transform 0.3s ease-in-out;
}

.socical:hover {
    cursor: pointer;
    transform: scale(1.05);
}

.copirught{
    text-align: center;
    font-size: 0.8em;
    margin: 0 0 1em 0;
}

@media screen and (max-width: 1500px) {
    .img-main {
        max-height: 35em;
    }

    .title-main {
        max-width: 45%;
        font-size: 2.3em;
    }

}

@media screen and (max-width: 1200px) {
    .img-main {
        max-height: 25em;
    }

    .title-main {
        max-width: 45%;
        font-size: 2.3em;
    }

}

@media screen and (max-width: 900px) {
    .img-main {
        max-height: 20em;
    }

    .sec-3-item-img {
        max-height: 15em;
    }

    .section-3-itens {
        display: grid;
        grid-template-columns: 50% 50%;
        width: 100%;
    }

    .title-main-sec-3 {
        text-align: center;
        font-size: 2em;
    }

    .title-main {
        max-width: 45%;
        font-size: 2em;
    }

    .some {
        display: none;
    }

    #menu-button {
        display: flex;
        max-height: 2.5em;
        transition: opacity 0.3s ease-in-out;
    }

    #menu-button:hover {
        cursor: pointer;
    }

    #fechar {
        max-height: 1.5em;
        max-width: 1.5em;
        position: absolute;
        top: 2em;
        right: 2em;
        z-index: 1;
    }

    #fechar:hover {
        cursor: pointer;
    }

    #section-1-phone {
        display: flex;
        background-color: #000000d3;
        height: 100vw;
        padding: 5em;
        position: absolute;
        top: 0;
        flex-direction: column;
        gap: 3em;
    }

    .entra {
        animation: entra 0.5s forwards;
    }

    @keyframes entra {
        0% {
            right: -100vw;
        }

        100% {
            right: 0;
        }
    }

    .sai {
        animation: sai 0.5s forwards;
    }

    @keyframes sai {
        0% {
            right: 0;
        }

        100% {
            right: -100vw;
        }
    }

    .menu {
        display: none;
    }
}

@media screen and (max-width: 700px) {
    .img-main {
        max-height: 15em;
    }

    .title-main {
        max-width: 45%;
        font-size: 1.5em;
    }

    .cripto-logo {
        height: 0.3em;
    }

    .sec-3-item-img {
        max-height: 10em;
    }

    .section-2 {
        gap: 1em;
    }
}

@media screen and (max-width: 500px) {
    .img-main {
        max-height: 18em;
    }

    .title-main {
        max-width: 100%;
        font-size: 1.4em;
    }

    .section-2 {
        margin-top: 2em;
        gap: 0.5em;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (max-width: 350px) {
    .section-2 {
        margin-top: 10em;
    }
}